{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="row">
        <div class="span4">{% include "FOSUserBundle:Profile:show_content.html.twig" %}</div>
        <div class="span8 ">
            <form action="{{ path('tools_user_avatar_edition') }}" {{ form_enctype(form) }} method="POST">
                {{ form_widget(form) }}
                    <input type="submit" class="btn" value="Telecharger" />
            </form>   
                {% if app.user.facebookURL is not null %}
                <a href="{{ path('tools_user_avatar_fbimport') }}" class="btn" >Importer depuis Facebook</a>
                {% endif %}
        </div>

    </div>
{% endblock fos_user_content %}

